# Shopify
.shopify/
config/settings_data.json-*.bak

# Node
node_modules/
package-lock.json

# OS
.DS_Store
Thumbs.db
Desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace
